*{
    margin: 0; 
    padding: 0; 
    border: 0;
}

body{
    background-color: #000;
}

img {
    max-width: 100%;
    display: block;
}

header{
    top: 0;
    background-color: #000;
    height: 100%;
}

#home {
    position: -webkit-sticky;
    position: sticky;
}

header img{
    margin: 0 auto;
}

nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: "Francois One", sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

main{
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    font-family: "Roboto Slab", serif;
}

.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.hours {
    margin-left: 10%;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

.features {
    margin: 0 2%;
}

.round {
    border-radius: 8px;
}

.external-link {
    color: #666600;
    font-weight: bold;
    text-decoration: none;
}

#contact {
    text-align: center;
}

#contact .contact-email-link {
    color: #666600;
    text-decoration: none;
}

.map {
    border: 2px solid #000;
    width: 95%;
    height: 50%;
}

/* Style rules for footer content */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 600px){
    nav a{
        display:block;
        margin: 0.5rem 0;
    }
}