*{
    margin: 0; 
    padding: 0; 
    border: 0;
}

body{
    background-color: #000;
}

img {
    max-width: 100%;
    display: block;
}

header{
    top: 0;
    background-color: #000;
    height: 100%;
}

#home {
    position: -webkit-sticky;
    position: sticky;
}

header img{
    margin: 0 auto;
}

nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: "Francois One", sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: inline-block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

main{
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    font-family: "Roboto Slab", serif;
}

.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.hours {
    margin-left: 10%;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

.features {
    margin: 0 2%;
}

.round {
    border-radius: 8px;
}

.external-link {
    color: #666600;
    font-weight: bold;
    text-decoration: none;
}

#contact {
    text-align: center;
}

#contact .contact-email-link {
    color: #666600;
    text-decoration: none;
}

.map {
    border: 2px solid #000;
    width: 95%;
    height: 50%;
}

/* Style rules for footer content */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 712px) {

    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    header {
        position: static;
        padding-bottom: 2%;
    }

    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em 0.75em;
    }

    main ul {
        margin: 0 0 4% 10%;
    }

    .features {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background: linear-gradient(to right, #ccc, #fff);
        background-color: #f2f2f2;
        padding: 1% 2%;
    }

    .feature h3 {
        font-weight: bold;
    }

    .feature {
        padding: 0.5% 1% 2% 0;
    }

    .tel-num {
        font-size: 1.25em;
    }

    .gallery {
        width: 29%;
        float: left;
        margin: 0 2%;
    }

}

@media screen and (min-width: 1015px), print {

    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
    }

    nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        border: none;
        display: inline-block;
    }

    nav li a {
        padding: 0.5em 1em;
    }

    nav li a:hover {
        color: #000;
        background-color: #fff;
    }

    main {
        clear: left;
    }

    main h1 {
        font-size: 1.8em;
    }

    .features {
        width: 29%;
        float: left;
        margin: 0 2%;
    }

    .gallery {
        width: 25%;
        float: left;
        margin: 0 2%;
    }

    footer {
        clear: left;
    }


}

@media screen and (min-width: 1921px) {

    #container {
        width: 1920px;
        margin: 0 auto;
    }

}

/* Media Query for Print */
@media print {

    body {
        background-color: #fff;
        color: #000;
    }

}